{% extends 'base.html' %}

{% block title %}A&Z Blooms{% endblock %}

{% block content %}

    <div class="catalog-grid">
        {% for item in products %}
            <div class="catalog-card">
                <img src="{{ item.img }}"/>
                <h3>{{ item.title }}</h3>
                <p><strong>Цена:</strong> {{ item.price }} KZT</p>
                <p>{{ item.details }}</p>
                <div class="product-actions">
                    <button class="details-btn" data-id="{{ item.id }}" data-title="{{ item.title }}"
                            data-img="{{ item.img }}" data-details="{{ item.details }}" data-price="{{ item.price }}">
                        Подробнее
                    </button>
                    <button class="add-to-cart-btn" data-id="{{ item.id }}" data-price="{{ item.price }}"
                            data-title="{{ item.title }}">
                        В корзину
                    </button>
                </div>
            </div>
        {% empty %}
            <p>Товары не найдены.</p>
        {% endfor %}
    </div>

    <!-- Модальное окно для подробной информации о товаре -->
    <div id="product-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <div class="modal-body">
                <h2 id="modal-title"></h2>
                <div class="modal-product-details">
                    <img id="modal-image" src="" alt="">
                    <div class="modal-product-info">
                        <p id="modal-price"></p>
                        <p id="modal-details"></p>
                        <button id="modal-add-to-cart" class="add-to-cart-btn">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
